Dockerfile.nanorc
Rnw.nanorc
apacheconf.nanorc
arduino.nanorc
asciidoc.nanorc
asm.nanorc
awk.nanorc
batch.nanorc
c.nanorc
clojure.nanorc
cmake.nanorc
coffeescript.nanorc
colortest.nanorc
conf.nanorc
conky.nanorc
creole.nanorc
csh.nanorc
csharp.nanorc
css.nanorc
csv.nanorc
cython.nanorc
dot.nanorc
dotenv.nanorc
elixir.nanorc
email.nanorc
erb.nanorc
etc-hosts.nanorc
fish.nanorc
fortran.nanorc
fsharp.nanorc
gemini.nanorc
genie.nanorc
gentoo.nanorc
git.nanorc
glsl.nanorc
go.nanorc
gophermap.nanorc
gradle.nanorc
groff.nanorc
haml.nanorc
haskell.nanorc
hcl.nanorc
html.nanorc
i3.nanorc
ical.nanorc
ini.nanorc
inputrc.nanorc
jade.nanorc
java.nanorc
javascript.nanorc
js.nanorc
json.nanorc
keymap.nanorc
kickstart.nanorc
kotlin.nanorc
ledger.nanorc
lisp.nanorc
lua.nanorc
m3u.nanorc
makefile.nanorc
man.nanorc
markdown.nanorc
moonscript.nanorc
mpdconf.nanorc
mutt.nanorc
nanorc.nanorc
nginx.nanorc
nmap.nanorc
ocaml.nanorc
octave.nanorc
patch.nanorc
peg.nanorc
perl.nanorc
perl6.nanorc
php.nanorc
pkg-config.nanorc
pkgbuild.nanorc
po.nanorc
pov.nanorc
powershell.nanorc
privoxy.nanorc
prolog.nanorc
properties.nanorc
pug.nanorc
puppet.nanorc
python.nanorc
reST.nanorc
rpmspec.nanorc
ruby.nanorc
rust.nanorc
scala.nanorc
sed.nanorc
sh.nanorc
sieve.nanorc
sls.nanorc
sparql.nanorc
sql.nanorc
svn.nanorc
swift.nanorc
systemd.nanorc
tcl.nanorc
tex.nanorc
toml.nanorc
ts.nanorc
vala.nanorc
verilog.nanorc
vi.nanorc
x11basic.nanorc
xml.nanorc
xresources.nanorc
yaml.nanorc
yum.nanorc
zig.nanorc
zsh.nanorc
